
<div class="jumbotron">
    <h1 class="text-center">Burger-Eater</h1>
</div>

    <div class="row">
    <div class="col-sm-6">
        <div class="area" id="not-devoured">
            <p id="head">Fresh Burgers!</p>
                <ul>
                    {{#each Burger}}
                    {{#unless devoured}}
                        <li>{{this.name}}          <button class="devour" data-id="{{this.id}}">Devour</button></li>
                    {{/unless}}
                    {{/each}}
                </ul>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="area" id="devoured">
            <p id="head">Old Burgers :(</p>
           
                <ul>
                    {{#each Burger}}
                    {{#if devoured}}
                      <li class="fin">{{this.name}}</li>  
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
          
    </div>
  

